:root {
  --button-color: #C1666B;
  --main-pg-bg: #2F3D7B;
  --phone-bg: #E4DFDA;
  --game-bg: #2F3D7B;
}

/* ********** Index.html ********** */
/* .container {
  background-color: var(--main-pg-bg);
  background-image: url("ice.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
} */

.bold-btn {
  background-color: var(--button-color);
  color: white;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bolder;
}

.player-btn {
  font-family: 'Roboto';
  font-style: italic;
  width: 25vw;
  height: 100%;
  font-size: 3vw;
  text-align: center;
}

.landing-btn {
  width: 25vw;
  height: 10vh;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/* ******************************** */


/* ********* Player.html ********** */
.topic {
  display:block;
  width: 90%;
  height: 25vh;
  font-size:8em;
  background-color: var(--button-color);
  color:white;
  margin-left: 5%;
  border-radius:.5em;
}

.center{
  text-align:center;
}


#lobbyText {
  font-size:5.7em;
  text-align:center;
  margin: auto;
  width: 50vw;
}

.inputBox {
  width: 80vw;
  height: 7vh;
  background-color:white;
  color:black;
  font-size:5em;
}

.SubmitButton {
  display:block;
  margin-top:1.5em;
  width: 80vw;
  height: 7vh;
  background-color: var(--button-color);
  color:white;
  border-radius: 1.2em;
  font-size: 5em;
  margin-left: 10vw;
}

#leftMargin {
  margin-left:1.8em;
}


#questionServer {
  margin-top: 14vh;
  margin-bottom: 5vh;
  font-size: 4.5em;
  text-align:center;
  color: white;
  font-weight: bold;
}

#submitAnswer {
  margin-top:2em;
  background-color:var(--button-color);
  display:block;
  border-style: solid;
  border-radius: .5em;
  float:right;
  font-size: 3em;
  padding:.5em;
  color:white;
}

#answer {
  display:block;
  color:black;
  width: 75vw;
  height: 25vh;
  font-size:3em;
  font-weight: bold;
}

#question{
  margin-top: 14vh;
  margin-bottom: 5vh;
  font-size: 4.5em;
  text-align:center;
  color: black;
  font-weight: bold;
}

#chooseTopicText{
  font-size: 8em;
}

#vote-btn{
  display:block;
  width: 90%;
  height: 12vh;
  font-size:8em;
  background-color: var(--button-color);
  color:white;
  margin-left: 5%;
  border-radius:.5em;
  margin-top:.5em;
  margin-bottom:.5em;
}

.display-text{
  margin-top: 33vh;
  margin-bottom: 5vh;
  font-size: 4.5em;
  text-align:center;
  color: black;
  font-weight: bold;
}

/* ******************************** */


/* ********* Server.html ********** */
body {
  background-color: var(--main-pg-bg);
}

#serverAnswer{
  display:block;
  color:white;
  width: 75vw;
  height: 25vh;
  font-size:3em;
  font-weight: bold;
}

.questionServer {
  margin-top: 14vh;
  margin-bottom: 5vh;
  font-size: 4.5em;
  text-align:center;
  color: white;
  font-weight: bold;
}

.title {
  font-size:6vw;
  color: white;
  display: flex;
  justify-content: center;
}

#startGame {
  background-color: var(--button-color);
  width: 25vw;
  height: 10vh;
  margin: 0 auto;
  font-size: 2vw;
}

#new_players{
  display:block;
  color: var(--phone-bg);
}

.questionShowing{
  display: flex;
  color: black;
  width: 75vw;
  height: 25vh;
  font-size: 3em;
  font-weight: bold;
  align-content: center;
  justify-content: center;
}

#showCorrectAnswer h1 {
  color:black ;
  text-align: center;
  font-size: 4vw;
}

#correctAnswer {
  text-align:center;
  font-size:3vw;
  color: white;
  font-weight: bold;
}

#currentLeaderboard {
  font-size:2vw;
  color: white;
  font-weight: bold;
}

#endingScreen h1 {
  color:black ;
  text-align: center;
  font-size: 4vw;
}

#finalLeaderboard{
  font-size:2vw;
  color: white;
  font-weight: bold;
}

/* #nextRound {
  background-color: var(--button-color);
  float: right;
} */



/* ******************************** */