{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  
</head>
<body>
  
  <div class="container">
  
    <div class="row"> 
      <div class="col-12">
        <h1>Landing Page</h1> 
        <a href= "https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/server">hi </a>


        <!---  
        <button class="search" onclick="window.location.href = 'https://cs-378-sp-22-p1-weather-travelers-debbiew27.uthci.repl.co/weather/search/';"> I am a player</button>
        
        
        
        -->
    </div>
  </div>
  <script>
    window.onload = function() {


      
      function init(){
        // TODO
      }

      init();
  }

</script>
</body>
</html>