{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'coloring/style.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet"> 
  <script>
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      window.location.href = 'https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/player';
      }
  </script>
</head>
<body>
  
  <div class="container landing d-flex justify-content-center">
  
    <div class="row"> 
      <div class="col-lg-auto">
        <h1 style="color: white">Ice Breaker</h1> 
        <h3 style="color: white">Landing Page</h3> 

        <div id="landing-btns" class="flex-column container">
        <button class="bold-btn landing-btn row" onclick="window.location.href = 'https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/player';"> I am a player</button>
        
        <button class="bold-btn landing-btn row" onclick="window.location.href = 'https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/server';"> I am a server</button>
        
        </div>
    </div>
  </div>
  <script>
    window.onload = function() {

      // pass
  }

</script>
</body>
</html>