{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'coloring/style.css' %}" />
  
</head>
<body>
  
  <div class="container landing">
  
    <div class="row"> 
      <div class="col-12">
        <h1 style="color: white">Landing Page</h1> 

        <button class="player" onclick="window.location.href = 'https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/player';"> I am a player</button>
        
        <button class="server" onclick="window.location.href = 'https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co/icebreaker/server';"> I am a server</button>
        
       
    </div>
  </div>
  <script>
    window.onload = function() {


      
      function init(){
        // TODO
      }

      init();
  }

</script>
</body>
</html>