{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  
  <style>
    #myCanvas {
      border: 1px solid black;
    }

    .food{
      display: block;
      color: red;
    }
    
    .animals {
      display: block;
    }
    
    .travel {
      display: block;
    }

    

</style>
  
</head>
<body style = "background-color: #E4DFDA">

  <div id= "lobby" class="container">
      <div class="row">
        <div class="col-12">
          <h1>Enter Lobby Code</h1> 
          <input id="lobbyCode"></input>
          <h1>Enter Your Name</h1> 
          <input id="userName"></input>
          <button id="goToSurvey"> Submit </button>
      </div>
    </div>
  </div>
  
  <div id = "survey">
    <h1 style= "text-align: center"> Choose a Topic! </h1>
        <p> <button style = "width: 100%; height: 25vh"id="food" type="button" class="btn btn-default">Food</button> </p>

      <p> <button style = "width: 100%; height: 25vh" id="animals" type="button" class="btn btn-default">Animals</button></p>

      <p>
        <button style = "width:100%; height: 25vh" id="travel" type="button" class="btn btn-default">Travel</button>
      </p>
</div>

<div id = "questions" class="container">
    <h1 style= "text-align: center"> Answer your Questions! </h1>
    <div class="row text-center">
      <div id = "question"></div>
      <input id="answer"></input>
      <button id="submitAnswer" type="button" class="btn btn-default">Done</button>
    </div>
</div>

<div id = "waitGameStart" class="container">
    <h1 style= "text-align: center"> Thank you for your answer! Waiting for the game to start.</h1>
</div>

  
  <script>
    window.onload = function() {
      // On load, hide the survey menu
      // unhide survey menu when they click submit
      let surveyElement = document.getElementById("survey");
      surveyElement.style.display = 'none';  
      let questionsElement = document.getElementById("questions");
      questionsElement.style.display = 'none';
      document.getElementById("waitGameStart").style.display = 'none';  
      
      var socket;
      var username;
      
      $('#goToSurvey').on("click", function(event) {
        console.log("clicked goToSurvey")
        let lobby = document.getElementById('lobby');
        lobby.style.display = 'none';
        surveyElement.style.display = 'block';
        // Establish websocket connection
        socket = new WebSocket("wss://ws-server-template.debbiew27.repl.co", "very-good-protocol");

        socket.addEventListener('open', function (event) {
          console.log("Socket to server opened")
          // only send username and other info once you finish the survey
        });
      })

      $('#food').on("click", function(event) {
        username = $('#userName').val();
        socket.send("U"+ username + "_Food");
        surveyElement.style.display = 'none';
        questionsElement.style.display = 'block';
        updateQuestion(username);
      })
      
      $('#animals').on("click", function(event) {
        username = $('#userName').val()
        socket.send("U"+$('#userName').val() + "_Animals");
        surveyElement.style.display = 'none';  
        questionsElement.style.display = 'block';
        updateQuestion(username)
    
      })
      
      $('#travel').on("click", function(event) {
        username = $('#userName').val()
        socket.send("U"+$('#userName').val() + "_Travel");
        surveyElement.style.display = 'none'; 
        questionsElement.style.display = 'block';  
        updateQuestion(username)
      })

      $('#submitAnswer').on("click", function(event) {
        var data_to_send = {
          "username" : $('#userName').val(),
          "answer": $('#answer').val()
        }
        
        $.ajax({
          type: "POST",
          url: "/icebreaker/"+ username + "/",
          data: JSON.stringify(data_to_send),
          success: function (response) {
            console.log(response)
            document.getElementById('questions').style.display = 'none';
            document.getElementById('waitGameStart').style.display = 'block';
          }
        });
        
      })

      function updateQuestion(username) {
        for(var i = 0; i < 3; i++) {
          $.ajax({
            type: "GET",
            url: "/icebreaker/"+ username + "/",
            success: function (response) {
              var all_players = response["players"]
              for(var j = 0; j < all_players.length; j++) {
                let current = all_players[j.toString()]["username"];
                if(current === username) {
                  console.log("FOUND PERSON")
                  var question = (all_players[j]["question"])
                  document.getElementById('question').textContent = question;
                  break;
                }
              } 
            }
          });
        }
        
      }
  }

</script>
</body>
</html>