{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/style.css' %}" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet"> 

</head>
<body style = "background-color: #E4DFDA">

  <div id= "lobby" >
      <div class="center">
          <h1 id = "lobbyText"style="padding-top:20vh;" > Lobby Code</h1> 
          <input style = "margin-bottom: 2em; "class="inputBox" id="lobbyCode"></input>
          <h1 id="lobbyText">Nickname</h1> 
          <input class="inputBox" id="userName"></input>
          <div id="usernameError"></div>
          <button class = "SubmitButton" id="goToSurvey"> START </button>
    </div>
  </div>
  
  <div id = "survey">
    <h1 id = "chooseTopicText"style= "text-align: center"> Choose a Topic </h1>
        <p> <button  id="food" type="button" class="btn btn-default topic">Food</button> </p>

      <p> <button id="animals" type="button" class="btn btn-default topic">Animals</button></p>

      <p>
        <button id="travel" type="button" class="btn btn-default topic">Travel</button>
      </p>
</div>

<div id = "questions" class="container">
      <div id = "question"> Loading question... </div>
      <p>
      <textarea id="answer"></textarea>
    </p>
      <button id="submitAnswer" type="button" class="btn btn-default">Continue</button>
    <div id="answerError"></div>
  
</div>

<div id = "waitGameStart" class="container">
    <h1 class = "display-text"> Thank you for your answer! Waiting for the game to start.</h1>
</div>

<div id = "guessButtons" class="container">
    <div id = "candidatesPlayer"></div>
</div>

<div id = "pretendToGuess" class="container">
    <div id = "pretendMessage" class = "display-text"> Shhhhhhhh! 🤫 Your answer is being displayed on screen! Pretend that you're guessing! </div>
</div>

<div id = "waitForOthersToGuess" class="container">
    <div id = "guessMessage" class = "display-text"> Waiting for others to finish guessing! </div>
</div>

<div id = "endingMessage" class="container">
  <div id = "thanksForPlaying" class = "display-text"> Thanks for playing! </div>
</div>
  
  <script>
    window.onload = function() {
      const guessHeader = "A_";
      var myUserHash = "";
      // On load, hide the survey menu
      // unhide survey menu when they click submit
      let endingScreenElement = document.getElementById("endingMessage");
      endingScreenElement.style.display = 'none'; 
      let waitForOthersToGuessElement = document.getElementById("waitForOthersToGuess");
      waitForOthersToGuessElement.style.display = 'none';  
      let pretendElement = document.getElementById("pretendToGuess");
      pretendElement.style.display = 'none';  
      let guessButtonsElement = document.getElementById("guessButtons");
      guessButtonsElement.style.display = 'none';  
      let surveyElement = document.getElementById("survey");
      surveyElement.style.display = 'none';  
      let questionsElement = document.getElementById("questions");
      questionsElement.style.display = 'none';
      document.getElementById("waitGameStart").style.display = 'none';  
      
      var socket = null;
      var username;

      function clearButtons() {
        let candidatesButtonsElement = document.getElementById("candidatesPlayer");
        while(candidatesButtonsElement.firstChild) {
          candidatesButtonsElement.removeChild(candidatesButtonsElement.lastChild);
        }
      }
      
      $('#goToSurvey').on("click", function(event) {
        console.log("clicked goToSurvey")
        // check if name is valid
        if ($('#userName').val().indexOf("_") != -1) {
          console.log("USERNAME CONTAINS UNDERSCORES")
          document.getElementById("usernameError").textContent = "Your nickname can't contain underscores."
          return
        }
        document.getElementById("usernameError").textContent = ""
        let lobby = document.getElementById('lobby');
        lobby.style.display = 'none';
        surveyElement.style.display = 'block';
        // Establish websocket connection
        socket = new WebSocket("wss://ws-server-template.debbiew27.repl.co", "very-good-protocol");

        socket.addEventListener('open', function (event) {
          console.log("Socket to server opened")
          // only send username and other info once you finish the survey
        });

        socket.onmessage = function(message) {
            let splitMessage = message.data.split('_')

            if(splitMessage[0] === "REQUESTINGANSWERS") {
              let waitGameStartElement = document.getElementById("waitGameStart");
              waitGameStartElement.style.display = 'none';
              let pretendElement = document.getElementById("pretendToGuess");
              pretendElement.style.display = 'none';
              let waitForOthersToGuessElement = document.getElementById("waitForOthersToGuess");
              waitForOthersToGuessElement.style.display = 'none';  
              
              clearButtons()
              
              if(splitMessage[1] === myUserHash) {
                
                // the question being displayed is the one I answered. Show pretend to answer screen.
                let guessButtonsElement = document.getElementById("guessButtons");
                guessButtonsElement.style.display = 'none';
                let pretendElement = document.getElementById("pretendToGuess");
                pretendElement.style.display = 'block';
              
              } else {
                // clear buttons first before each round so the buttons dont stack
                                
                console.log("SHOWING BUTTONS FOR GUESSING")
                
                let guessButtonsElement = document.getElementById("guessButtons");
                guessButtonsElement.style.display = 'block';
                
                splitMessage.shift()
                splitMessage.shift()
                // splitMessage should only have the list of players
  
                splitMessage.forEach(element => {
                  let newButton = document.createElement(`button`);
                  newButton.setAttribute("id", "vote-btn");
                  newButton.textContent = element;
                  newButton.addEventListener("click", () => {
                    var guess = guessHeader + element;

                    guessButtonsElement.style.display = 'none';
                    let waitForOthersToGuessElement = document.getElementById("waitForOthersToGuess");
                    waitForOthersToGuessElement.style.display = 'block';
                    
                    socket.send(guess)
                  })
                  $('#candidatesPlayer').append(newButton)
                });
                
              }
            } else if(splitMessage[0] == "GAMEOVER") {
              let pretendElement = document.getElementById("pretendToGuess");
              pretendElement.style.display = 'none';
              let waitForOthersToGuessElement = document.getElementById("waitForOthersToGuess");
              waitForOthersToGuessElement.style.display = 'none';
              let endingScreenElement = document.getElementById("endingMessage");
              endingScreenElement.style.display = 'block';
              
            } else if(splitMessage[0] == "RESTART"){
              socket.close();
              window.location.replace("https://Group-Final-Project-with-P4-Starter-Code-UTHCI-1.uthci.repl.co")
            }else {
              console.log("RECIEVED WEIRD MESSAGE FROM SERVER: ")
              console.log(splitMessage)
            }
        }
      })

      $('#food').on("click", function(event) {
        username = $('#userName').val();
        console.log("sending food")
        socket.send("U_"+ username + "_Food");
        surveyElement.style.display = 'none';
        questionsElement.style.display = 'block';
        updateQuestion(username);
      })
      
      $('#animals').on("click", function(event) {
        username = $('#userName').val()
        console.log("sending animal")
        socket.send("U_"+$('#userName').val() + "_Animals");
        surveyElement.style.display = 'none';  
        questionsElement.style.display = 'block';
        updateQuestion(username)
      })
      
      $('#travel').on("click", function(event) {
        username = $('#userName').val()
        console.log("sending travel")
        socket.send("U_"+$('#userName').val() + "_Travel");
        surveyElement.style.display = 'none'; 
        questionsElement.style.display = 'block';  
        updateQuestion(username)
      })

      $('#submitAnswer').on("click", function(event) {
        if($('#answer').val().indexOf("_") != -1) {
          console.log("ANSWER CONTAINS UNDERSCORES")
          document.getElementById("answerError").textContent = "Your answer can't contain underscores."
          return
        }
        document.getElementById("answerError").textContent = ""
        var data_to_send = {
          "username" : $('#userName').val(),
          "answer": $('#answer').val()
        }
        
        $.ajax({
          type: "POST",
          url: "/icebreaker/"+ username + "/",
          data: JSON.stringify(data_to_send),
          success: function (response) {
            console.log(response)
            document.getElementById('questions').style.display = 'none';
            document.getElementById('waitGameStart').style.display = 'block';
          }
        });
      })

      function updateQuestion(username) {
        for(var i = 0; i < 3; i++) {
          $.ajax({
            type: "GET",
            url: "/icebreaker/"+ username + "/",
            success: function (response) {
              var all_players = response["players"]
              for(var j = 0; j < all_players.length; j++) {
                let current = all_players[j.toString()]["username"];
                if(current === username) {
                  console.log("FOUND PERSON")
                  alert("found person")
                  var question = (all_players[j]["question"])
                  myUserHash = (all_players[j]["userhash"])
                  document.getElementById('question').textContent = question;
                  break;
                }
              } 
            }
          });
        }
        
      }
  }

</script>
</body>
</html>