{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  
  <style type="text/css">
    #myCanvas {
      border: 1px solid black;
    }
  </style>
  
</head>
<body>


  
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <h1>Lobby</h1> 
         <div id="new_players"></div>
          <br></br>
    </div>
  </div>
  <script>
    window.onload = function() {

      // start websocket listener
      // if admin, listen for new connections and remember them
      // if player, 

      // TODO: CHANGE
      const userData = new Map();
      function basicWebsocketChat(){
        // Receive a message from websocket server
        // Admin: Map ID to name & assigned questions and answers,
        // Establish websocket connection
        
        var socket = new WebSocket("wss://ws-server-template.debbiew27.repl.co", "very-good-protocol");
        socket.onmessage = function(message) {
          let splitIndex = message.data.indexOf("___")
          let username = meessage.data.slice(0,splitIndex)
          let userHash = message.data.slice(splitIndex+3)
          userData.set(userHash, [username])
          
          
          $("#new_players").append(`${username}`);
          $("#new_players").append($("<br>"));
          
        }
      }

      
      function init(){
        // TODO
        basicWebsocketChat(); 
      }

      init();
  }

</script>
</body>
</html>