{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Final Project: Implementation Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <link href="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  
  <style type="text/css">
    #myCanvas {
      border: 1px solid black;
    }
  </style>
  
</head>
<body>


  
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <h1>Lobby</h1> 
         <div id="new_players"></div>
          <br></br>
    </div>
  </div>
  <script>
    window.onload = function() {

      // start websocket listener
      // if admin, listen for new connections and remember them
      // if player, 

      // TODO: CHANGE
      function basicWebsocketChat(){
          // The p4 starter code below is based on @MrEconomical (https://replit.com/@MrEconomical)'s ws-server-template example
        
        // Establish websocket connection
        var socket = new WebSocket("wss://ws-server-template.debbiew27.repl.co", "very-good-protocol");
        
        socket.onmessage = function(message){
          // Receive a message from websocket server
          // Admin: Map ID to name & assigned questions and answers,
            // Ignore if phone
          $("#new_players").append(`[receive] ${message.data}`);
          $("#new_players").append($("<br>"));
        }
        
        // Event listeners
        $('#input').on("keypress", function(event){
          if (event.key === "Enter") {
        
              // Send a message from this browser window
              socket.send($('#input').val());
              $("#status").append(`[send] ${$('#input').val()}`);
              $("#status").append($("<br>"));
              $('#input').val("");
          }
        });
      }

      
      function init(){
        // TODO
        basicWebsocketChat(); 
      }

      init();
  }

</script>
</body>
</html>